<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>74ls00</string>
	<string>74ls01</string>
	<string>74ls02</string>
	<string>74ls03</string>
	<string>74ls04</string>
	<string>74ls05</string>
	<string>74ls06</string>
	<string>74ls07</string>
	<string>74ls08</string>
	<string>74ls09</string>
	<string>74ls10</string>
	<string>74ls11</string>
	<string>74ls12</string>
	<string>74ls13</string>
	<string>74ls14</string>
	<string>74ls15</string>
	<string>74ls16</string>
	<string>74ls17</string>
	<string>74ls20</string>
	<string>74ls21</string>
	<string>74ls22</string>
	<string>74ls26</string>
	<string>74ls27</string>
	<string>74ls28</string>
	<string>74ls30</string>
	<string>74ls32</string>
	<string>74ls33</string>
	<string>74ls37</string>
	<string>74ls38</string>
	<string>74ls39</string>
	<string>74ls40</string>
	<string>74ls42</string>
	<string>74ls43</string>
	<string>74ls44</string>
	<string>74ls45</string>
	<string>74ls46</string>
	<string>74ls47</string>
	<string>74ls48</string>
	<string>74ls49</string>
	<string>74ls50</string>
	<string>74ls51</string>
	<string>74ls53</string>
	<string>74ls54</string>
	<string>74ls73</string>
	<string>74ls74</string>
	<string>74ls76</string>
	<string>74ls78</string>
	<string>74ls83</string>
	<string>74ls85</string>
	<string>74ls86</string>
	<string>74ls90</string>
	<string>74ls92</string>
	<string>74ls93</string>
	<string>74ls95</string>
	<string>7497</string>
	<string>74ls107</string>
	<string>74ls109</string>
	<string>74ls112</string>
	<string>74121</string>
	<string>74ls122</string>
	<string>74ls123</string>
	<string>74ls125</string>
	<string>74ls126</string>
	<string>74ls132</string>
	<string>74ls133</string>
	<string>74ls136</string>
	<string>74ls138</string>
	<string>74ls139</string>
	<string>74ls145</string>
	<string>74ls150</string>
	<string>74ls151</string>
	<string>74ls153</string>
	<string>74ls154</string>
	<string>74ls155</string>
	<string>74ls156</string>
	<string>74ls157</string>
	<string>74ls158</string>
	<string>74ls160</string>
	<string>74ls161</string>
	<string>74ls162</string>
	<string>74ls163</string>
	<string>74ls164</string>
	<string>74ls165</string>
	<string>74ls166</string>
	<string>74ls169</string>
	<string>74ls170</string>
	<string>74ls173</string>
	<string>74ls174</string>
	<string>74ls175</string>
	<string>74180</string>
	<string>74ls181</string>
	<string>74184_185</string>
	<string>74ls190</string>
	<string>74ls191</string>
	<string>74ls192_193</string>
	<string>74ls194</string>
	<string>74ls195</string>
	<string>74ls196_197</string>
	<string>74ls221</string>
	<string>74ls240</string>
	<string>74ls241</string>
	<string>74ls242_243</string>
	<string>74ls244</string>
	<string>74ls245</string>
	<string>74ls247</string>
	<string>74ls248</string>
	<string>74ls249</string>
	<string>74ls251</string>
	<string>74ls253</string>
	<string>74ls256</string>
	<string>74ls257</string>
	<string>74ls258</string>
	<string>74ls259</string>
	<string>74ls260</string>
	<string>74ls266</string>
	<string>74ls273</string>
	<string>74ls279</string>
	<string>74ls283</string>
	<string>74ls290</string>
	<string>74ls293</string>
	<string>74ls295</string>
	<string>74ls298</string>
	<string>74ls299</string>
	<string>74ls322</string>
	<string>74ls323</string>
	<string>74ls347</string>
	<string>74ls352</string>
	<string>74ls353</string>
	<string>ls365_366_367_368</string>
	<string>74ls373_374</string>
	<string>74ls375</string>
	<string>74ls377</string>
	<string>74ls378_379</string>
	<string>74ls390_393</string>
	<string>74ls396</string>
	<string>74ls398_399</string>
	<string>74ls440_442_444</string>
	<string>74ls446_449</string>
	<string>74ls447</string>
	<string>74ls450</string>
	<string>74ls451</string>
	<string>74ls460</string>
	<string>74ls461</string>
	<string>74ls465_468</string>
	<string>74ls466_467</string>
	<string>74ls469</string>
	<string>74ls471</string>
	<string>74ls490</string>
	<string>74ls491</string>
	<string>74ls502</string>
	<string>74ls503</string>
	<string>74ls533</string>
	<string>74ls534</string>
	<string>74ls540_541</string>
	<string>74ls563</string>
	<string>74ls564</string>
	<string>74ls573</string>
	<string>74ls574</string>
	<string>74ls589</string>
	<string>74ls590_591</string>
	<string>74ls592_593</string>
	<string>74ls604_606_607</string>
	<string>ls610_611_612_613</string>
	<string>74ls640_641</string>
	<string>74ls642_645</string>
	<string>74ls670</string>
	<string>74ls793_794</string>
</array>
</plist>
