<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4502</key>
	<string>3-state</string>
	<key>4503</key>
	<string>3-state </string>
	<key>4504</key>
	<string>voltage shifter</string>
	<key>4508</key>
	<string>3-state</string>
	<key>4510_4516</key>
	<string>counter</string>
	<key>4511</key>
	<string>7-segment</string>
	<key>4512</key>
	<string>3-state</string>
	<key>4513</key>
	<string>7-segment</string>
	<key>4514_4515</key>
	<string>oo</string>
	<key>4517</key>
	<string>3-state</string>
	<key>4518_4520</key>
	<string>counter</string>
	<key>4519</key>
	<string>oo</string>
	<key>4521</key>
	<string>oo</string>
	<key>4522</key>
	<string>counter</string>
	<key>4527</key>
	<string>oo</string>
	<key>4528</key>
	<string>monostable</string>
	<key>4529</key>
	<string>data selector 3-state</string>
	<key>4530</key>
	<string>oo</string>
	<key>4531</key>
	<string>oo</string>
	<key>4532</key>
	<string>oo</string>
	<key>4534</key>
	<string>counter 3-state</string>
	<key>4536</key>
	<string>timer</string>
	<key>4538</key>
	<string>monostable</string>
	<key>4539</key>
	<string>data selector</string>
	<key>4541</key>
	<string>timer</string>
	<key>4543</key>
	<string>7-segment</string>
	<key>4549_4559</key>
	<string>oo</string>
	<key>4551</key>
	<string>multiplexer</string>
	<key>4553</key>
	<string>counter</string>
	<key>4555_4556</key>
	<string>decoder</string>
	<key>4557</key>
	<string>shift register</string>
	<key>4558</key>
	<string>7-segment</string>
	<key>4562</key>
	<string>shift register</string>
	<key>4566</key>
	<string>timer</string>
	<key>4569</key>
	<string>counter</string>
	<key>4572</key>
	<string>oo</string>
	<key>4580</key>
	<string>3-state</string>
	<key>4584</key>
	<string>oo</string>
	<key>4585</key>
	<string>comparator</string>
	<key>74121</key>
	<string>monostable</string>
	<key>74180</key>
	<string>oo</string>
	<key>74184_185</key>
	<string>oo</string>
	<key>7497</key>
	<string>oo</string>
	<key>74ls00</key>
	<string>oo</string>
	<key>74ls01</key>
	<string>OC</string>
	<key>74ls02</key>
	<string>oo</string>
	<key>74ls03</key>
	<string>OC</string>
	<key>74ls04</key>
	<string>oo</string>
	<key>74ls05</key>
	<string>OC</string>
	<key>74ls06</key>
	<string>OC</string>
	<key>74ls07</key>
	<string>OC</string>
	<key>74ls08</key>
	<string>oo</string>
	<key>74ls09</key>
	<string>OC</string>
	<key>74ls10</key>
	<string>oo</string>
	<key>74ls107</key>
	<string>flip-flop</string>
	<key>74ls109</key>
	<string>flip-flop</string>
	<key>74ls11</key>
	<string>oo</string>
	<key>74ls112</key>
	<string>flip-flop</string>
	<key>74ls12</key>
	<string>OC</string>
	<key>74ls122</key>
	<string>monostable</string>
	<key>74ls123</key>
	<string>monostable</string>
	<key>74ls125</key>
	<string>3-state</string>
	<key>74ls126</key>
	<string>3-state</string>
	<key>74ls13</key>
	<string>schmitt</string>
	<key>74ls132</key>
	<string>schmitt</string>
	<key>74ls133</key>
	<string>oo</string>
	<key>74ls136</key>
	<string>OC</string>
	<key>74ls138</key>
	<string>decoder</string>
	<key>74ls139</key>
	<string>decoder</string>
	<key>74ls14</key>
	<string>schmitt</string>
	<key>74ls145</key>
	<string>Decinal drivers</string>
	<key>74ls15</key>
	<string>OC</string>
	<key>74ls150</key>
	<string>data selector</string>
	<key>74ls151</key>
	<string>data selector</string>
	<key>74ls153</key>
	<string>data selector</string>
	<key>74ls154</key>
	<string>decoder</string>
	<key>74ls155</key>
	<string>decoder</string>
	<key>74ls156</key>
	<string>decoder</string>
	<key>74ls157</key>
	<string>data selector</string>
	<key>74ls158</key>
	<string>data selector</string>
	<key>74ls16</key>
	<string>OC</string>
	<key>74ls160</key>
	<string>counter</string>
	<key>74ls161</key>
	<string>counter</string>
	<key>74ls162</key>
	<string>counter</string>
	<key>74ls163</key>
	<string>counter</string>
	<key>74ls164</key>
	<string>shift register</string>
	<key>74ls165</key>
	<string>shift register</string>
	<key>74ls166</key>
	<string>shift register</string>
	<key>74ls169</key>
	<string>counter</string>
	<key>74ls17</key>
	<string>OC</string>
	<key>74ls170</key>
	<string>OC</string>
	<key>74ls173</key>
	<string>3-state</string>
	<key>74ls174</key>
	<string>flip-flop</string>
	<key>74ls175</key>
	<string>flip-flop</string>
	<key>74ls181</key>
	<string>oo</string>
	<key>74ls190</key>
	<string>counter</string>
	<key>74ls191</key>
	<string>counter</string>
	<key>74ls192_193</key>
	<string>counter</string>
	<key>74ls194</key>
	<string>shift register</string>
	<key>74ls195</key>
	<string>shift register</string>
	<key>74ls196_197</key>
	<string>counter</string>
	<key>74ls20</key>
	<string>oo</string>
	<key>74ls21</key>
	<string>oo</string>
	<key>74ls22</key>
	<string>OC</string>
	<key>74ls221</key>
	<string>monostable</string>
	<key>74ls240</key>
	<string>3-state</string>
	<key>74ls241</key>
	<string>3-state </string>
	<key>74ls242_243</key>
	<string>bus</string>
	<key>74ls244</key>
	<string>3-state</string>
	<key>74ls245</key>
	<string>bus</string>
	<key>74ls247</key>
	<string>7-segment OC</string>
	<key>74ls248</key>
	<string>7-segment</string>
	<key>74ls249</key>
	<string>7-segment OC</string>
	<key>74ls251</key>
	<string>multiplexer 3-state</string>
	<key>74ls253</key>
	<string>multiplexer 3-state</string>
	<key>74ls256</key>
	<string>oo</string>
	<key>74ls257</key>
	<string>data selector</string>
	<key>74ls258</key>
	<string>data selector</string>
	<key>74ls259</key>
	<string>oo</string>
	<key>74ls26</key>
	<string>OC</string>
	<key>74ls260</key>
	<string>oo</string>
	<key>74ls266</key>
	<string>OC</string>
	<key>74ls27</key>
	<string>oo</string>
	<key>74ls273</key>
	<string>flip-flop</string>
	<key>74ls279</key>
	<string>oo</string>
	<key>74ls28</key>
	<string>oo</string>
	<key>74ls283</key>
	<string>oo</string>
	<key>74ls290</key>
	<string>counter</string>
	<key>74ls293</key>
	<string>counter</string>
	<key>74ls295</key>
	<string>shift registers 3-state</string>
	<key>74ls298</key>
	<string>multiplexer</string>
	<key>74ls299</key>
	<string>shift register 3-state</string>
	<key>74ls30</key>
	<string>oo</string>
	<key>74ls32</key>
	<string>oo</string>
	<key>74ls322</key>
	<string>shift register</string>
	<key>74ls323</key>
	<string>shift register 3-state</string>
	<key>74ls33</key>
	<string>OC</string>
	<key>74ls347</key>
	<string>7-segment</string>
	<key>74ls352</key>
	<string>multiplexer</string>
	<key>74ls353</key>
	<string>multiplexer 3-state</string>
	<key>74ls37</key>
	<string>oo</string>
	<key>74ls373_374</key>
	<string>oo</string>
	<key>74ls375</key>
	<string>oo</string>
	<key>74ls377</key>
	<string>oo</string>
	<key>74ls378_379</key>
	<string>oo</string>
	<key>74ls38</key>
	<string>OC</string>
	<key>74ls39</key>
	<string>OC</string>
	<key>74ls390_393</key>
	<string>counter</string>
	<key>74ls396</key>
	<string>oo</string>
	<key>74ls398_399</key>
	<string>oo</string>
	<key>74ls40</key>
	<string>oo</string>
	<key>74ls42</key>
	<string>oo</string>
	<key>74ls43</key>
	<string>oo</string>
	<key>74ls44</key>
	<string>oo</string>
	<key>74ls440_442_444</key>
	<string>oo</string>
	<key>74ls446_449</key>
	<string>bus</string>
	<key>74ls447</key>
	<string>OC</string>
	<key>74ls45</key>
	<string>oo</string>
	<key>74ls450</key>
	<string>multiplexer</string>
	<key>74ls451</key>
	<string>multiplexer</string>
	<key>74ls46</key>
	<string>OC</string>
	<key>74ls460</key>
	<string>comparator</string>
	<key>74ls461</key>
	<string>counter</string>
	<key>74ls465_468</key>
	<string>3-state</string>
	<key>74ls466_467</key>
	<string>3-state</string>
	<key>74ls469</key>
	<string>counter</string>
	<key>74ls47</key>
	<string>7-segment OC</string>
	<key>74ls471</key>
	<string>oo</string>
	<key>74ls48</key>
	<string>7-segment</string>
	<key>74ls49</key>
	<string>7-segment</string>
	<key>74ls490</key>
	<string>counter</string>
	<key>74ls491</key>
	<string>counter</string>
	<key>74ls50</key>
	<string>oo</string>
	<key>74ls502</key>
	<string>oo</string>
	<key>74ls503</key>
	<string>oo</string>
	<key>74ls51</key>
	<string>oo</string>
	<key>74ls53</key>
	<string>oo</string>
	<key>74ls533</key>
	<string>3-state</string>
	<key>74ls534</key>
	<string>3-state</string>
	<key>74ls54</key>
	<string>oo</string>
	<key>74ls540_541</key>
	<string>3-state</string>
	<key>74ls563</key>
	<string>3-state</string>
	<key>74ls564</key>
	<string>3-state</string>
	<key>74ls573</key>
	<string>3-state</string>
	<key>74ls574</key>
	<string>3-state</string>
	<key>74ls589</key>
	<string>shift registers 3-state</string>
	<key>74ls590_591</key>
	<string>counter OC</string>
	<key>74ls592_593</key>
	<string>counter</string>
	<key>74ls604_606_607</key>
	<string>3-state OC</string>
	<key>ls610_611_612_613</key>
	<string>3-state OC</string>
	<key>74ls640_641</key>
	<string>bus OC</string>
	<key>74ls642_645</key>
	<string>bus OC 3-state</string>
	<key>74ls670</key>
	<string>3-state</string>
	<key>74ls73</key>
	<string>flip-flop</string>
	<key>74ls74</key>
	<string>flip-flop</string>
	<key>74ls76</key>
	<string>flip-flop</string>
	<key>74ls78</key>
	<string>flip-flop</string>
	<key>74ls793_794</key>
	<string>oo</string>
	<key>74ls83</key>
	<string>oo</string>
	<key>74ls85</key>
	<string>comparator</string>
	<key>74ls86</key>
	<string>oo</string>
	<key>74ls90</key>
	<string>counter</string>
	<key>74ls92</key>
	<string>counter</string>
	<key>74ls93</key>
	<string>counter</string>
	<key>74ls95</key>
	<string>shift register</string>
	<key>8051 core Register Structure</key>
	<string>8051 core Register Structure.pdf</string>
	<key>AD5253/AD5254</key>
	<string>AD5253/AD5254.pdf</string>
	<key>ADC0831/32/34/38</key>
	<string>ADC0831/32/34/38.pdf</string>
	<key>AT89C51</key>
	<string>AT89C51.pdf</string>
	<key>AT89C52</key>
	<string>AT89C52.pdf</string>
	<key>AT89C55</key>
	<string>AT89C55.pdf</string>
	<key>AT89S8252</key>
	<string>AT89S8252.pdf</string>
	<key>AT89c1051</key>
	<string>AT89c1051.pdf</string>
	<key>AT89c2051</key>
	<string>AT89c2051.pdf</string>
	<key>C8051F01X series</key>
	<string>C8051F01X series.pdf</string>
	<key>C8051F02X series</key>
	<string>C8051F02X series.pdf</string>
	<key>C8051F04X series</key>
	<string>C8051F04X series.pdf</string>
	<key>C8051F06X series</key>
	<string>C8051F06X series.pdf</string>
	<key>C8051F0XX series</key>
	<string>C8051F0XX series.pdf</string>
	<key>C8051F12X series</key>
	<string>C8051F12X series.pdf</string>
	<key>C8051F2XX series</key>
	<string>C8051F2XX series.pdf</string>
	<key>C8051F30X series</key>
	<string>C8051F30X series.pdf</string>
	<key>C8051F31X series</key>
	<string>C8051F31X series.pdf</string>
	<key>C8051F32X series</key>
	<string>C8051F32X series.pdf</string>
	<key>C8051F33X series</key>
	<string>C8051F33X series.pdf</string>
	<key>C8051F34X series</key>
	<string>C8051F34X series.pdf</string>
	<key>C8051F35X series</key>
	<string>C8051F35X series.pdf</string>
	<key>C8051F41X series</key>
	<string>C8051F41X series.pdf</string>
	<key>C8051F52X-F53X</key>
	<string>C8051F52X-F53X.pdf</string>
	<key>C8051F54X</key>
	<string>C8051F54X.pdf</string>
	<key>C8051F55X/56X/57X</key>
	<string>C8051F55X/56X/57X.pdf</string>
	<key>C8051F58X-F59X</key>
	<string>C8051F58X-F59X.pdf</string>
	<key>C8051F70X/71X</key>
	<string>C8051F70X/71X.pdf</string>
	<key>C8051F80X-F83X</key>
	<string>C8051F80X-F83X.pdf</string>
	<key>C8051F90X-F91X </key>
	<string>C8051F90X-F91X .pdf</string>
	<key>C8051F92X-F93X</key>
	<string>C8051F92X-F93X.pdf</string>
	<key>C8051F98X-F99X</key>
	<string>C8051F98X-F99X.pdf</string>
	<key>CC2420</key>
	<string>CC2420.pdf</string>
	<key>CC2430 (ZigBee SOC)</key>
	<string>CC2430 (ZigBee SOC).pdf</string>
	<key>CC2480 (ZigBee SOC)</key>
	<string>CC2480 (ZigBee SOC).pdf</string>
	<key>CC2500</key>
	<string>CC2500.pdf</string>
	<key>CC2510FX/11FX (ZigBee SOC)</key>
	<string>CC2510FX/11FX (ZigBee SOC).pdf</string>
	<key>CC2550</key>
	<string>CC2550.pdf</string>
	<key>CC2591</key>
	<string>CC2591.pdf</string>
	<key>CH340</key>
	<string>CH340.pdf</string>
	<key>DAC0830/31/32</key>
	<string>DAC0830/31/32.pdf</string>
	<key>DS18B20</key>
	<string>DS18B20.pdf</string>
	<key>Dot matrix display</key>
	<string>Dot matrix display.pdf</string>
	<key>IAP10F14X</key>
	<string>IAP10F14X.pdf</string>
	<key>LCD12864</key>
	<string>LCD12864.pdf</string>
	<key>LCD1602</key>
	<string>LCD1602.pdf</string>
	<key>MM74C922N</key>
	<string>MM74C922N.pdf</string>
	<key>N78E055</key>
	<string>N78E055.pdf</string>
	<key>N78E059</key>
	<string>N78E059.pdf</string>
	<key>N78E366</key>
	<string>N78E366.pdf</string>
	<key>N78E517</key>
	<string>N78E517.pdf</string>
	<key>STC10FXXX series</key>
	<string>STC10FXXX series.pdf</string>
	<key>STC11FXXX series</key>
	<string>STC11FXXX series.pdf</string>
	<key>STC12C20XXXX series</key>
	<string>STC12C20XXXX series.pdf</string>
	<key>STC12C52XXXX series</key>
	<string>STC12C52XXXX series.pdf</string>
	<key>STC12C54XXXX series</key>
	<string>STC12C54XXXX series.pdf</string>
	<key>STC12C56XXXX series</key>
	<string>STC12C56XXXX series.pdf</string>
	<key>STC12C5AXXXX series</key>
	<string>STC12C5AXXXX series.pdf</string>
	<key>STC12CXXXXAD series</key>
	<string>STC12CXXXXAD series.pdf</string>
	<key>STC12LE54XXXX series</key>
	<string>STC12LE54XXXX series.pdf</string>
	<key>STC89CXXXX series</key>
	<string>STC89CXXXX series.pdf</string>
	<key>STC89CXXXXAD series</key>
	<string>STC89CXXXXAD series.pdf</string>
	<key>STC89LE516AD</key>
	<string>STC89LE516AD.pdf</string>
	<key>STC89LE516X2</key>
	<string>STC89LE516X2.pdf</string>
	<key>STC89LEXXXX series</key>
	<string>STC89LEXXXX series.pdf</string>
	<key>Seven Segment</key>
	<string>Seven Segment.pdf</string>
	<key>TB62209F</key>
	<string>TB62209F.pdf</string>
	<key>ULN2001/2/3/4</key>
	<string>ULN2001/2/3/4.pdf</string>
	<key>W78E052</key>
	<string>W78E052.pdf</string>
	<key>W78E054</key>
	<string>W78E054.pdf</string>
	<key>W78E058</key>
	<string>W78E058.pdf</string>
	<key>W78E516</key>
	<string>W78E516.pdf</string>
	<key>W78ERD2</key>
	<string>W78ERD2.pdf</string>
	<key>X9313</key>
	<string>X9313.pdf</string>
	<key>cd4001_4002_4025</key>
	<string>oo</string>
	<key>cd4006</key>
	<string>shift register</string>
	<key>cd4007</key>
	<string>oo</string>
	<key>cd4008</key>
	<string>oo</string>
	<key>cd4009_4010</key>
	<string>oo</string>
	<key>cd40100</key>
	<string>shift register</string>
	<key>cd40101</key>
	<string>oo</string>
	<key>cd40102_40103</key>
	<string>counter</string>
	<key>cd40104_40194</key>
	<string>shift register</string>
	<key>cd40105</key>
	<string>3-state</string>
	<key>cd40106</key>
	<string>schmitt</string>
	<key>cd40107</key>
	<string>OD</string>
	<key>cd40108</key>
	<string>3-state</string>
	<key>cd40109</key>
	<string>voltage shifter</string>
	<key>cd40110</key>
	<string>counter</string>
	<key>cd4011_4012_4023</key>
	<string>oo</string>
	<key>cd4013</key>
	<string>flip-flop</string>
	<key>cd4014</key>
	<string>shift register</string>
	<key>cd40147</key>
	<string>oo</string>
	<key>cd4015</key>
	<string>shift register</string>
	<key>cd4016</key>
	<string>switch</string>
	<key>cd40160_161_162_163</key>
	<string>counter</string>
	<key>cd40174</key>
	<string>flip-flop</string>
	<key>cd40175</key>
	<string>flip-flop</string>
	<key>cd4017_4022</key>
	<string>counter</string>
	<key>cd4018</key>
	<string>counter</string>
	<key>cd40181</key>
	<string>oo</string>
	<key>cd40182</key>
	<string>oo</string>
	<key>cd4019</key>
	<string>oo</string>
	<key>cd40192_40193</key>
	<string>counter</string>
	<key>cd40208</key>
	<string>3-state</string>
	<key>cd4020_4040_4060</key>
	<string>counter</string>
	<key>cd4021</key>
	<string>shift register</string>
	<key>cd4023_4025</key>
	<string>oo</string>
	<key>cd4024</key>
	<string>counter</string>
	<key>cd4026_4033</key>
	<string>7-segment</string>
	<key>cd4027</key>
	<string>flip-flop</string>
	<key>cd4028</key>
	<string>oo</string>
	<key>cd4029</key>
	<string>counter</string>
	<key>cd4030</key>
	<string>oo</string>
	<key>cd4031</key>
	<string>shift register</string>
	<key>cd4032_4038</key>
	<string>oo</string>
	<key>cd4033</key>
	<string>counter</string>
	<key>cd4034</key>
	<string>bus</string>
	<key>cd4035</key>
	<string>shift register</string>
	<key>cd4041</key>
	<string>oo</string>
	<key>cd4042</key>
	<string>oo</string>
	<key>cd4043_4044</key>
	<string>3-state</string>
	<key>cd4045</key>
	<string>counter</string>
	<key>cd4046</key>
	<string>phase-locked loop</string>
	<key>cd4047</key>
	<string>monostable</string>
	<key>cd4048</key>
	<string>oo</string>
	<key>cd4049_4050</key>
	<string>oo</string>
	<key>cd4051_4052_4053</key>
	<string>multiplexer</string>
	<key>cd4054_4055_4056</key>
	<string>liquid-crystal</string>
	<key>cd4059</key>
	<string>counter</string>
	<key>cd4060</key>
	<string>counter</string>
	<key>cd4063</key>
	<string>comparator</string>
	<key>cd4066</key>
	<string>switch</string>
	<key>cd4067_4097</key>
	<string>multiplexer</string>
	<key>cd4068</key>
	<string>oo</string>
	<key>cd4069</key>
	<string>oo</string>
	<key>cd4070_4077</key>
	<string>oo</string>
	<key>cd4071_4072_4075</key>
	<string>oo</string>
	<key>cd4073_4081_4082</key>
	<string>oo</string>
	<key>cd4076</key>
	<string>3-state</string>
	<key>cd4078</key>
	<string>oo</string>
	<key>cd4085</key>
	<string>oo</string>
	<key>cd4086</key>
	<string>oo</string>
	<key>cd4089</key>
	<string>oo</string>
	<key>cd4093</key>
	<string>schmitt</string>
	<key>cd4094</key>
	<string>shift register 3-state</string>
	<key>cd4095_4096</key>
	<string>flip-flop</string>
	<key>cd4098</key>
	<string>monostable</string>
	<key>cd4099</key>
	<string>oo</string>
	<key>ls365_366_367_368</key>
	<string>3-state</string>
</dict>
</plist>
