<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cd4017_4022</string>
	<string>cd4018</string>
	<string>cd4020_4040_4060</string>
	<string>cd4024</string>
	<string>cd4026_4033</string>
	<string>cd4029</string>
	<string>cd4033</string>
	<string>cd4045</string>
	<string>cd4059</string>
	<string>cd4060</string>
	<string>cd4089</string>
	<string>cd40102_40103</string>
	<string>cd40160_161_162_163</string>
	<string>cd40192_40193</string>
</array>
</plist>
