<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cd4013</string>
	<string>cd4027</string>
	<string>cd4042</string>
	<string>cd4043_4044</string>
	<string>cd4047</string>
	<string>cd4095_4096</string>
	<string>cd4098</string>
	<string>cd40174</string>
	<string>cd40175</string>
</array>
</plist>
