<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cd4006</string>
	<string>cd4014</string>
	<string>cd4015</string>
	<string>cd4021</string>
	<string>cd4031</string>
	<string>cd4034</string>
	<string>cd4035</string>
	<string>cd4076</string>
	<string>cd4094</string>
	<string>cd40100</string>
	<string>cd40104_40194</string>
	<string>cd40105</string>
	<string>cd40108</string>
	<string>cd40208</string>
</array>
</plist>
