<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cd4016</string>
	<string>cd4019</string>
	<string>cd4041</string>
	<string>cd4046</string>
	<string>cd4051_4052_4053</string>
	<string>cd4066</string>
	<string>cd4067_4097</string>
	<string>cd4099</string>
	<string>cd40101</string>
	<string>cd40109</string>
</array>
</plist>
