<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cd4001_4002_4025</string>
	<string>cd4007</string>
	<string>cd4009_4010</string>
	<string>cd4011_4012_4023</string>
	<string>cd4023_4025</string>
	<string>cd4030</string>
	<string>cd4048</string>
	<string>cd4049_4050</string>
	<string>cd4068</string>
	<string>cd4069</string>
	<string>cd4070_4077</string>
	<string>cd4071_4072_4075</string>
	<string>cd4073_4081_4082</string>
	<string>cd4078</string>
	<string>cd4085</string>
	<string>cd4086</string>
	<string>cd4093</string>
	<string>cd40106</string>
	<string>cd40107</string>
</array>
</plist>
