<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cd4008</string>
	<string>cd4028</string>
	<string>cd4032_4038</string>
	<string>cd4054_4055_4056</string>
	<string>cd4063</string>
	<string>cd40110</string>
	<string>cd40147</string>
	<string>cd40181</string>
	<string>cd40182</string>
</array>
</plist>
