<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>74ls73</string>
		<string>74ls74</string>
		<string>74ls76</string>
		<string>74ls78</string>
		<string>74ls107</string>
		<string>74ls109</string>
		<string>74ls112</string>
		<string>74ls122</string>
		<string>74ls221</string>
		<string>74121</string>
	</array>
</plist>
