<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>74ls95</string>
	<string>74ls164</string>
	<string>74ls165</string>
	<string>74ls166</string>
	<string>74ls170</string>
	<string>74ls173</string>
	<string>74ls174</string>
	<string>74ls175</string>
	<string>74ls194</string>
	<string>74ls195</string>
	<string>74ls273</string>
	<string>74ls279</string>
	<string>74ls295</string>
	<string>74ls298</string>
	<string>74ls299</string>
	<string>74ls322</string>
	<string>74ls323</string>
	<string>74ls373_374</string>
	<string>74ls375</string>
	<string>74ls377</string>
	<string>74ls378_379</string>
	<string>74ls396</string>
	<string>74ls398_399</string>
	<string>74ls471</string>
	<string>74ls502</string>
	<string>74ls503</string>
	<string>74ls534</string>
	<string>74ls533</string>
	<string>74ls563</string>
	<string>74ls564</string>
	<string>74ls573</string>
	<string>74ls574</string>
	<string>74ls589</string>
	<string>74ls604_606_607</string>
	<string>74ls670</string>
	<string>74ls793_794</string>
</array>
</plist>
