<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>74ls42</string>
	<string>74ls43</string>
	<string>74ls44</string>
	<string>74ls45</string>
	<string>74ls46</string>
	<string>74ls47</string>
	<string>74ls48</string>
	<string>74ls49</string>
	<string>74ls83</string>
	<string>74ls85</string>
	<string>74ls138</string>
	<string>74ls139</string>
	<string>74ls145</string>
	<string>74ls150</string>
	<string>74ls153</string>
	<string>74ls154</string>
	<string>74ls155</string>
	<string>74ls156</string>
	<string>74ls157</string>
	<string>74ls158</string>
	<string>74ls247</string>
	<string>74ls248</string>
	<string>74ls249</string>
	<string>74ls251</string>
	<string>74ls253</string>
	<string>74ls256</string>
	<string>74ls257</string>
	<string>74ls258</string>
	<string>74ls259</string>
	<string>74ls283</string>
	<string>74ls347</string>
	<string>74ls352</string>
	<string>74ls353</string>
	<string>74ls447</string>
	<string>74ls450</string>
	<string>74ls451</string>
	<string>74184_185</string>
</array>
</plist>
