<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>PDIP</string>
	<string>cd4002</string>
	<string>cd4006</string>
	<string>cd4007</string>
	<string>cd4008</string>
	<string>cd4009</string>
	<string>cd4010</string>
	<string>cd4011</string>
	<string>cd4012</string>
	<string>cd4013</string>
	<string>cd4014</string>
	<string>cd4015</string>
	<string>cd4016</string>
	<string>cd4017</string>
	<string>cd4018</string>
	<string>cd4019</string>
	<string>cd4020</string>
	<string>cd4023</string>
	<string>cd4024</string>
	<string>cd4025</string>
	<string>cd4026</string>
	<string>cd4027</string>
	<string>cd4028</string>
	<string>cd4029</string>
	<string>cd4030</string>
	<string>cd4031</string>
	<string>cd4032</string>
	<string>cd4033</string>
	<string>cd4034</string>
	<string>cd4035</string>
	<string>cd4038</string>
	<string>cd4041</string>
	<string>cd4042</string>
	<string>cd4043</string>
	<string>cd4044</string>
	<string>cd4045</string>
	<string>cd4046</string>
	<string>cd4047</string>
	<string>cd4048</string>
	<string>cd4049</string>
	<string>cd4050</string>
	<string>cd4051</string>
	<string>cd4052</string>
	<string>cd4053</string>
	<string>cd4054</string>
	<string>cd4055</string>
	<string>cd4056</string>
	<string>cd4059</string>
	<string>cd4060</string>
	<string>cd4063</string>
	<string>cd4066</string>
	<string>cd4067</string>
	<string>cd4068</string>
	<string>cd4069</string>
	<string>cd4070</string>
	<string>cd4071</string>
	<string>cd4072</string>
	<string>cd4073</string>
	<string>cd4075</string>
	<string>cd4076</string>
	<string>cd4078</string>
	<string>cd4081</string>
	<string>cd4082</string>
	<string>cd4085</string>
	<string>cd4086</string>
	<string>cd4089</string>
	<string>cd4093</string>
	<string>cd4094</string>
	<string>cd4095</string>
	<string>cd4096</string>
	<string>cd4097</string>
	<string>cd4098</string>
	<string>cd4099</string>
	<string>cd40100</string>
	<string>cd40101</string>
	<string>cd40102</string>
	<string>cd40103</string>
	<string>cd40104</string>
	<string>cd40105</string>
	<string>cd40106</string>
	<string>cd40107</string>
	<string>cd40108</string>
	<string>cd40109</string>
	<string>cd40110</string>
	<string>cd40147</string>
	<string>cd40160</string>
	<string>cd40161</string>
	<string>cd40162</string>
	<string>cd40163</string>
	<string>cd40174</string>
	<string>cd40175</string>
	<string>cd40181</string>
	<string>cd40182</string>
	<string>cd40192</string>
	<string>cd40193</string>
	<string>cd40194</string>
	<string>cd40208</string>
</array>
</plist>
