<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CH340</string>
	<string>LCD1602</string>
	<string>LCD12864</string>
	<string>CC2420</string>
	<string>CC2591</string>
	<string>CC2550</string>
	<string>CC2500</string>
	<string>MM74C922N</string>
	<string>AD5253/AD5254</string>
	<string>X9313</string>
	<string>ADC0831/32/34/38</string>
	<string>DAC0830/31/32</string>
	<string>DS18B20</string>
	<string>TB62209F</string>
	<string>ULN2001/2/3/4</string>
	<string>Seven Segment</string>
	<string>Dot matrix display</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
</array>
</plist>
